/* Import fonts */
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Define styling colours  */
:root {
  --font-main-color: #2d2d2d;
  --header-footer-color: #555867;
  --search-grey: #eaeaea;
  --filter-fill: #cacfe3;
  --chip: #d6d0ff;
  --sort-text: #6148a8;
  --gap-1: 0.75rem;
  --gap-2: 1rem;
  --gap-3: 1.25rem;
  --gap-4: 2rem;
}

/* Establish font size for responsiveness */
* {
  font-size: 18px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "SF Pro Display", sans-serif;
  color: var(--font-main-color);
  display: flex;
  flex-direction: column;
  /* Stop overscrolling */
  overscroll-behavior: none;
}

/*Heading styles*/

h1 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: var(--font-main-color);
  margin-bottom: var(--gap-4);
}

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
}

/* ^ Responsive typography for headings */

/* Header styling */
header {
  background-color: var(--header-footer-color);
  color: white;
  /* position: absolute; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-3) var(--gap-4);

  .logo {
    display: flex;
    align-items: center;
    gap: var(--gap-1);
  }
  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Footer styling */

footer {
  background-color: var(--header-footer-color);
  color: white;
  width: 100%;
  padding: var(--gap-3) var(--gap-4);

  p {
    padding-left: var(--gap-2);
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: white;
  }
}

/* Main styling */
main {
  padding: var(--gap-4);
}

.column {
  column-count: 5;
  column-gap: var(--gap-1);
}

/* Responsive columns */
@media (max-width: 1000px) {
  .column {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .column {
    column-count: 1; /* single column on mobile */
  }
}

.column-item {
  position: relative;
  overflow: hidden;
  break-inside: avoid;
  border-radius: 8px;
  margin-bottom: var(--gap-1);
  width: 100%;

  img {
    display: block;
    transition: transform 0.3s ease;
    width: 100%;
    object-fit: cover;
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.column-item:hover img {
  transform: scale(1.1); /* zoom 10% */
}

.image-overlay {
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* 20% black fill */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Allow hover on image */
}

.column-item:hover .image-overlay {
  opacity: 1;
  transform: scale(1.1);
  transition: opacity 0.3s ease;
}

.image-title {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 8px;
}

/* Crop images exceeding a certain aspect ratio (i.e. Animation thumbnails) */
.wide {
  aspect-ratio: 1;
  width: 100%;
  object-fit: cover;
  object-position: left; /* start at left */
}

.wide.in-view {
  animation: panImage 60s linear forwards;
  animation-play-state: running;
}

.wide.paused {
  animation-play-state: paused;
}

@keyframes panImage {
  from {
    object-position: left;
  }
  to {
    object-position: right;
  }
}

/* REDUCING PADDING  */
@media screen and (max-width: 600px) {
  header {
    padding: var(--gap-1) var(--gap-2);
  }

  footer {
    padding: var(--gap-1) var(--gap-2);
  }

  main {
    padding: var(--gap-2);
  }
}
